#!/bin/sh
# See https://direnv.net/

direnv_version 2.26.0

dotenv_if_exists .env

VAGRANT_SSH_ALIAS=${VAGRANT_SSH_ALIAS:-"$(basename "${PWD}")"}
export VAGRANT_SSH_ALIAS

export DOCKER_HOST=ssh://${VAGRANT_SSH_ALIAS}
